body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #a3c6f1;
}

.dpbtns {
    margin: auto;
    display: flex;
    color: blueviolet;
}

#lng {
    color: blueviolet;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
}

#tpc {
    color: blueviolet;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
}

#lrn {
    color: blueviolet;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
}

.buttonPosition {
    margin-left: 40%;
    color: blueviolet;
    font-weight: 600;
}

.buttonPosition:hover {
    color: blue;
}